body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif
}
table {
    table-layout: auto;
    width: 150%;
}
.w3-row-padding img {
    margin-bottom: 12px
}

.w3-sidebar {
    width: 120px;
    background: #222;
}

#main {
    margin-left: 120px
}

@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}

button.submit {
    float: right;
}

.table {
    border-radius: 5px;
    width: 100%;
    margin: 0px auto;
    float: none;
}

#form-row {
    background-color: #101010;
    color: #ffffff;
}

.btn {
    background-color: #ffffff;
    color: #101010;
    border-color: #ffffff;
}

.btn:hover {
    background-color: #ff00de;
    border-color: #ff00de;
    color: #101010
}

#movie-name {
    width: 100%;
}

#title {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 48px/normal "Warnes", Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

#title:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff;
}

form#cms {
    margin-top: 50px;
}

#cms textarea {
    resize: none;
}

.card-header button.delete,
button.edit {
    float: right;
    margin: 5px;
}

.author-container {
    margin-top: 50px;
}

.author-list {
    margin-top: 25px;
}

.blog-container {
    margin-top: 30px;
}

.blog {
    margin-top: 30px;
}

.hidden {
    display: none;
}

#author-name {
    width: 100%;
    height: 35px;
    margin-top: 5px;
}

.top-30 {
    margin-top: 30px;
}